
html {
  background-color : #F8F8F8;
  width : 100%;
  height : 100%;
  color : black;
  font-family: 'Open Sans', sans-serif;
  margin : 0px;
  padding : 0px;
}

body {
  padding : 0;
  margin : 0;
  text-decoration : none;
}

a {
  text-decoration : none;
  color : rgb(0,0,150);
  font-weight : 550;
}

h2 {
  width : 100%;
  text-align : left;
  font-size : 40px;
}

h3 {
  width : 100%;
  text-align : left;
  font-size : 25px;
}

p {
  width : 100%;
  text-align : left;
  font-size : 16px;
}

button:focus {
    outline:none !important;
}

button:active {
    outline:none !important;
}

button:selected {
    outline:none !important;
}

button:{
  cursor : pointer;
}

.header-div {
  display : fixed;
  background-color : white;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
  padding : 20px 5%;
  font-size : 40px;
  text-align : center;
}

.body-div {
  padding : 5%;
}

.map {
  width : 100%;
  border-radius : 5px;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5) ,-3px -3px 5px 0px rgba(255,255,255,0.5);
  cursor : pointer;
}

.event-card-container {
  position : relative;
  height : 500px;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5) ,-3px -3px 5px 0px rgba(255,255,255,0.5);
  border-radius : 5px;
  margin-top : 20px;
  text-align : left;
}

.event-card-cover-image {
  height : 100%;
  width : 100%;
  position : absolute;
  top : 0;
  left : 0;
  border-radius : 5px;
}

.event-card-current {
  background-color : white;
  width : 100%;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5) ,-3px -3px 5px 0px rgba(255,255,255,0.5);
  border-radius : 5px;
  position : relative;
  height : 100%;
  display : none;
  padding : 10px 50px;
}

.event-card-current::after {
  content : "";
  color : white;
  background-color : rgba(255,0,0,1);
  height : 100%;
  width : 3%;
  border-radius : 5px 0px 0px 5px;
  position : absolute;
  top : 0;
  left : 0; 
}

.event-card-cover-current {
  height : 100%;
  width : 100%;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5) ,-3px -3px 5px 0px rgba(255,255,255,0.5);
  border-radius : 5px;
  position : absolute;
  top : 0;
  left : 0;
}


.event-card-cover-current::after {
  content : "";
  color : white;
  background-color : rgba(255,0,0,1);
  height : 100%;
  width : 3%;
  border-radius : 5px 0px 0px 5px;
  position : absolute;
  top : 0;
  left : 0; 
}

.event-card-past {
  background-color : white;
  width : 100%;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5) ,-3px -3px 5px 0px rgba(255,255,255,0.5);
  border-radius : 5px;
  position : relative;
  height : 100%;
  display : none;
  padding : 10px 50px;
}

.event-card-past::after {
  content : "";
  color : white;
  background-color : rgba(235,0,235,1);
  height : 100%;
  width : 3%;
  border-radius : 5px 0px 0px 5px;
  position : absolute;
  top : 0;
  left : 0; 
}

.event-card-cover-past {
  height : 100%;
  width : 100%;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5) ,-3px -3px 5px 0px rgba(255,255,255,0.5);
  border-radius : 5px;
  position : absolute;
  top : 0;
  left : 0;
}

.event-card-cover-past::after {
  content : "";
  color : white;
  background-color : rgba(235,0,235,1);
  height : 100%;
  width : 3%;
  border-radius : 5px 0px 0px 5px;
  position : absolute;
  top : 0;
  left : 0; 
}




