
html {
  background-color : #F8F8F8;
  width : 100%;
  height : 100%;
  color : black;
  font-family: 'Open Sans', sans-serif;
  margin : 0px;
  padding : 0px;
}

body {
  padding : 0;
  margin : 0;
  text-decoration : none;
}

a {
  text-decoration : none;
  color : #101010;
}

a:hover {
  font-weight : bolder;
  color : blue;
}

.header-div {
  display : fixed;
  background-color : white;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
  padding : 20px 5%;
}

.body-div {
  padding : 5%;
}

.map {
  width : 100%;
  border-radius : 5px;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5) ,-3px -3px 5px 0px rgba(255,255,255,0.5);
  cursor : pointer;
}

.event-card {
  background-color : white;
  margin-top : 20px;
  width : 100%;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5) ,-3px -3px 5px 0px rgba(255,255,255,0.5);
  border-radius : 5px;
  position : relative;
  height : 500px;
  display : none;
  padding : 10px 50px;
}

.event-card::after {
  content : "";
  color : white;
  background-color : rgba(255,0,0,1);
  height : 100%;
  width : 3%;
  border-radius : 5px 0px 0px 5px;
  position : absolute;
  top : 0;
  left : 0; 
}

.event-card-cover {
  background-image : url(http://www.ecns.cn/hd/2019/04/18/ef306efde0554cab8f63bbb6ce7a9569.jpg);
  margin-top : 20px;
  height : 500px;
  width : 100%;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5) ,-3px -3px 5px 0px rgba(255,255,255,0.5);
  border-radius : 5px;
  position : absolute;
  top : 0;
  left : 0;
  display : flex;
}

.event-card-cover > h1 {
  font-size : 40px;
  color : white;
  width  : 100%;
  height  : 100%;
  background-color : rgba(0,0,0,0.4);
  position : absolute;
  top : -25px;
  border-radius : 5px;
  flex : 1;
}

.event-card-cover::after {
  content : "";
  color : white;
  background-color : rgba(255,0,0,1);
  height : 100%;
  width : 3%;
  border-radius : 5px 0px 0px 5px;
  position : absolute;
  top : 0;
  left : 0; 
}





